// 3rd party
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";
@import "//fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap";
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

@import "base/screen.scss";
@import "base/event.scss";
@import "base/theme.scss";
@import "base/animation.scss";
@import "modules/components.scss";
@import "modules/pages.scss";

body {
    overflow-x:hidden;
}


main::after, .local-page::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1000;
    background-image: url('../src/assets/background/background1.jpg');
}

.overflow-y-hidden {
    overflow-y: hidden;
}

span {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

strong {
    box-sizing: inherit;
}

dl, ol, ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


#root {
    position: relative;
    max-width: none;
    margin: 0;
    padding: 0;
    text-align: left;   
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: var(--font-family-display);
}

*, ::after, ::before {
    box-sizing: inherit;
}

button {
    cursor: pointer;
}