body {
    padding-top: 120px;
}

.header {
    padding: 0 0;
    background-color: rgba(var( --background-color-rgb), .24);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;

    .dark-mode__toggle {
        height: .8rem;
        width: 100%;
        background-color: var(--primary-color);
        margin-block-end: .5rem;
        display: block;
        justify-content: center;
        align-items:end;
        transition: height .2s ease-in-out;

        div {
            z-index: 100;
            position: absolute;
            top: .8rem;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            transition: top .2s ease-in-out;

            button {
                cursor: pointer;
                position: relative;
                height: fit-content;
                text-align: center;
                display: block;
                background-color: var(--primary-color);
                border: none;
                font-size: $font-size-2;
                border-bottom-right-radius: $standard-border-radius;
                border-bottom-left-radius: $standard-border-radius;
                color: var(--reversed-text-color);
                padding: .2rem .5rem .5rem .5rem;
            }

    
        }

        ul {
            display: none;
        }

        ul::-webkit-scrollbar-thumb {
            background-color: var(--supplementary-color2);
        }

        ul.open {
            display: flex;
            overflow-x: auto;
            overflow-y:hidden;
            padding: 1rem;
            gap: 1rem;
            animation: fade-in;
            animation-duration: .5s;
            
            li {
                position: relative;
                min-width: 15rem;
                height: 7rem;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                animation: fade-in;
                animation-duration: .1s;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                border-radius: $standard-border-radius;
                transition: box-shadow .1s ease-in-out;
                cursor: pointer;

                p {
                    position: relative;
                    display: block;
                    font-weight: bolder;
                    width: 100%;
                    text-align: center;
                }
            }

            li:hover {
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
            }

            li.selected {
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
            }
        }

        div:hover > button {
            background-color: var(--secondary-color);
        }

    }

    .dark-mode__toggle.open {
        height: 10rem;

        div {
            top: 10rem;
        }
    }
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}


.header__brand {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 700;
}

.header__brand:hover {
    color: var(--primary-color);

    .header__verification {
        color: var(--supplementary-color2);
    }
}

.header__brand:hover > .header__info > :not(.header__verification) {
    color: var(--primary-color);
}

.header__info {
    display: flex;
    gap: .5rem;
}

.header__avatar {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__verification {
    color: var(--reversed-text-color);
    background-color: var(--primary-color);
    display: block;
    border-radius: .2rem;
    height: fit-content;
    width: fit-content;
    font-size: $font-size-1;

    span {
        font-size: $font-size-3;
    }
}

.nav {
    display: flex;
    align-items: center;
}

.nav__togglebtn {
    display: none;
}

.nav__menu {
    display: flex;
}

.nav__content {
    .account {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: $font-size-2;
        word-break: keep-all;
        min-width: 4rem;
        max-width: 70%;
        

        button {
            width: 100%;
            border: none;
            border-radius: 5px;
            padding: .3rem 0;
        }

        .login__button {
            color: var(--reversed-text-color);
            background-color: var(--supplementary-color4);
            letter-spacing: .5px;
            transition: background-color .3s ease-in-out;
        }

        .signup__button {
            color: var(--reversed-text-color);
            background-color: var(--supplementary-color3);
            transition: var(--background-color) .3s ease-in-out;
            letter-spacing: .5px;
        }

        .login__button:hover {
            background-color: rgba($color: var(--supplementary-color4), $alpha: .7);
        }

        .signup__button:hover {
            background-color: rgba($color: var(--supplementary-color3), $alpha: .7);
        }

    }
}

.nav__item {
    position: relative;
}

.nav__item::after {
    content: "";
    background-color: var(--supplementary-color1);
    display: block;
    height: 5px;
    position: absolute;
    left: 1.25rem;
    right: 1.25rem;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s cubic-bezier(.86, 0, .07, 1);
}

.nav__item:hover::after {
    transform: scaleX(1);
}

.nav__item--active::after {
    background-color: var(--secondary-color);
    transform: scaleX(1);
}


.nav__link {
    color: var(--text-color);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: .75rem 1.25rem;
    line-height: 1;
    white-space: nowrap;
    text-transform: lowercase;
    transition: color .2s linear;
}

.nav__num {
    display: block;
    margin-right: .375rem;
    font-weight: 700;
}


// hamburger menu
.iconbtn {
    border: 0;
    padding: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: var(--reversed-text-color);
    background-color: var(--primary-color);
}

.menuicon {
    display: block;
    width: 24px;
    height: 16px;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    transform: translate(0, -1px) rotate(0);
    transition-duration: .3s cubic-bezier(.165, .84, .44, 1);
}


.menuicon__bar {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: currentColor;
    left: 0;
    transform: rotate(0);
    transition: transform .25s ease-in-out;
}

.menuicon__bar:first-child {
    top: 0;
}

.menuicon__bar:nth-child(2), .menuicon__bar:nth-child(3) {
    top: 50%;
}

.menuicon__bar:last-child {
    top: 100%;
}

.nav--open .menuicon {
    transform: translate(-1px, 0) rotate(270deg);
}

.nav--open .menuicon .menuicon__bar:first-child {
    width: 0;
    top: 50%;
    left: 50%;
}


.nav--open .menuicon .menuicon__bar:nth-child(2) {
    transform: rotate(45deg);
}


.nav--open .menuicon .menuicon__bar:nth-child(3) {
    transform: rotate(-45deg);
}

.nav--open .menuicon .menuicon__bar:last-child {
    width: 0;
    top: 50%;
    left: 50%;
}

.nav--open .nav__togglebtn {
    border-radius: .3rem;
}

.nav__bg {
    position: fixed;
    z-index: 99;
    top: 1.9rem;
    right: 2.5%;
    height: 4px;
    width: 4px;
    transform: translate(-22px, 22px);
    pointer-events: none;
    visibility: hidden;
}

.nav__bg__circle {
    background-color: var(--supplementary-color2);
    display: flex;
    width: calc(100vw * 4);
    height:calc(100vw * 4);
    position: absolute;
    top: calc(100vw * -2);
    left:calc(100vw * -2);
    transform: scale(0);
    border-radius: 50%;
    transform-origin: 50% 50%;
    transition: transform .4s cubic-bezier(.755, .05, .855, .06);
    will-change: transform;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }


    56% {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


// Media queries for responsisve screen
@media (max-width: $medium-screen) {

    .nav__content {
        background-color: var(--primary-color);
        display: none;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content:start;
        position: fixed;
        z-index: 100;
        overflow-y: scroll;
        top: 0;
        left: 0;

        .nav__menu {
            flex-direction: column;
            justify-content:center;
            flex: 1 0 auto;
            opacity: 0;
            transform: translateY(1.5rem);
            transition: opacity .5s linear .25s transform .5s cubic-bezier(.4, 0, .2, 1);
            position: relative;
            height: fit-content;
    
            .nav__item {
                color: var(--text-color);
                position: relative;
                padding: 0 15%;
                font-family: $font-family-display;
                font-size: $font-size-5;
                letter-spacing: 1px;
                height: fit-content;
        
        
                .nav__link {
                    color: var(--reversed-text-color)!important;
                    padding: 1rem;
                    text-transform: none;
                }
            }
        }

    }

    .nav__togglebtn {
        display: flex;
        position: relative;
        z-index: 101;
    }



    .nav--open .nav__item::after {
        height: 13px;
    }

    .nav--open .nav__content {
        display: flex;
        animation-name: fade-in;
        animation-duration: .9s;
    }

    .nav--open .nav__menu {
        opacity: 1;
        transform: translateY(0);
        position: relative;
        min-height: fit-content;

        .account {
            max-width: 100%;
            margin-top: 2rem;            

            button {
                width: 80%;
                padding: .5rem 0;
                margin-bottom: 1rem;
                font-size: $font-size-3;
            }
        }
    }

    .nav--open .nav__bg__circle {
        transform: scale(1);
    }

    .nav--open .nav__bg {
        visibility: visible;
    }
}


@media (max-width: $small-screen) {

    .dark-mode__toggle {
        div {
            button {
                font-size: $font-size-1!important;
            }

    
        }

    }

}