.selected-post__content {
    position: relative;
    $paragraph-margin: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    word-spacing: .23rem;
    width: 100%;

    p {
        line-height: 1.7;
        margin-bottom: $paragraph-margin;
        letter-spacing: 0;
    }

    .wp-block-heading {
        line-height: 3;
    }

    .wp-block-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .2rem;
        padding: 0rem 1rem 1.5rem;
    }

    ul.wp-block-list {
        list-style: disc;
    }

    ol.wp-block-list {
        list-style: decimal;
    }

    .wp-block-image {
        position: relative;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        padding: 1.5rem 0;

        img {
            max-width: 100%;
        }
    }

    .wp-block-image.size-full img{
        width: 100%!important;
    }

    .wp-block-image.aligncenter {
        text-align: center!important;

        img {
            width: 60%!important;
        }
    }

    .wp-block-image.alignright {
        text-align: right!important;
        img {
            width: 60%!important;
        }
    }

    .wp-block-image.alignleft {
        text-align: left!important;
        img {
            width: 60%!important;
        }
    }

    ul {
        padding: 1.5rem;

        li {
            list-style: square;
        }
    }

    .wp-block-code {
        box-sizing: border-box;
        font-size: $font-size-1;

        code {
            position: relative;
            border-radius: $standard-border-radius;
            background-color: #f1f1f1!important;
            overflow: auto;
        }
    }


    blockquote {
        font-size: $font-size-1;
        margin: auto auto;
        font-family: Open Sans;
        font-style: italic;
        color: var(--backquote-color);
        padding: 1.2em 30px 1.2em 75px;
        border-left: 8px solid var(--backquote-border);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        line-height: 1.6;
        position: relative;
        background: var(--reversed-text-color);

        p {
            margin-bottom: .1rem;
        }

        cite {
            margin-bottom: .1rem;
        }
    }

    blockquote::before {
        font-family: Arial;
        content: "\201C";
        color:  var(--backquote-border);
        font-size: $font-size-5;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    blockquote::after {
        content: '';
    }

    blockquote span {
        display: block;
        color: var(--backquote-span);
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
    }

    .wp-block-gallery {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 80%;

        .wp-block-image {
            position: relative;
            flex: 1 1 15%;
            width: fit-content;

            img {
                height: 100%;
                width: 100%;
                position: relative;
                object-fit: cover;
            }
        }
    }
}


@media (max-width: $small-screen) {
    .selected-post__content {
        h2 {
            font-size: $font-size-2;
        }

        h3 {
            font-size: $font-size-1;
        }

        h4 {
            font-size: $font-size-1;
        }

        p {
            font-size: $font-size-0;
        }

        .wp-block-list {
            padding: 0rem 1rem;

            li {
                font-size: $font-size-1;
            }
        }
    

        .wp-block-image {
            margin: 0 .5rem;
        }

        .wp-block-image.aligncenter {
            text-align: center;
        }

        .wp-block-image.alignright {
            float:none;
            text-align: center;
        }

        .wp-block-image.alignleft {
            float: none;
            text-align: center;
        }

    }
}