.selected-post {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    box-sizing: border-box;
    margin-bottom: 2rem;

    .selected-post__inner {
        width: 45em;
        position: relative;
        margin-block-end: 15rem;

        hr {
            border: 1px var(--supplementary-color2) solid!important;
            margin-block-end: 2rem;
            animation-name: fade-in;
            animation-duration: .9s;
        }
    }

    .selected-post__title {
        font-family: "Abril Fatface", serif;
        line-height: 2;
        font-size: $font-size-6;
        animation-name: fade-in;
        animation-duration: .5s;
        letter-spacing: .1rem;
    }

    .selected-post__info {
        color: var(--primary-color);
        animation-name: fade-in;
        animation-duration: .7s;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        letter-spacing: .05rem;

        .selected-post__category:hover {
            color: var(--secondary-color);
        }
    }

    .selected-post__content {
        line-height: 1.5;
        letter-spacing: 1px;
        animation-name: fade-in;
        animation-duration: 1.1s;
    }

    .btn__back-to-post-list__outer {
        display: block;
        position: relative;
        padding: 1rem 0;
        width: fit-content;
        justify-self: flex-end;
        height: fit-content;


        .btn__back-to-post-list {
            position: relative;
            display: flex;
            height: fit-content;
            gap: 4px;
            justify-content: end;
            align-items: center;
            background-color: transparent;
            color: var(--primary-color);
            border: none;
            padding: 0;
            width: fit-content;

            span {
                display: block;
                font-size: $font-size-2;
            }

            i {
                 display: block;
                 font-size: $font-size-2;
                 height: fit-content;
                 width: fit-content;
            }
        }

        .btn__back-to-post-list:hover {
            color: var(--secondary-color);

            i {
                transform: translateX(5px);
                transition: transform .2s ease-in-out;
            }
        }
    }



}


@media (max-width: $medium-screen) {
    .selected-post {

        .selected-post__inner {
            width: 100%;
        }

        .selected-post__title {
            font-size: $font-size-3;
            line-height: 1;
            padding: 1rem 0;
        }

        .selected-post__info {
            font-size: $font-size-1;
        }


        .btn__back-to-post-list__outer {

            .btn__back-to-post-list {
    
                span {
                    font-size: $font-size-2;
                }

                i {
                    font-size: $font-size-2;
                }
            }
        }
    }
}


@media (max-width: $small-screen) {
    .selected-post {
        .selected-post__inner {
            width: 100%;
        }
        .selected-post__title {
            font-size: $font-size-2;
            line-height: 1;
            padding: .3rem 0;
        }

        .selected-post__info {
            font-size: $font-size-2;


        }

        .selected-post__info {
            font-size: $font-size-1;
        }

        .btn__back-to-post-list__outer {

            .btn__back-to-post-list {
    
                span {
                    font-size: $font-size-1;
                }

                i {
                    font-size: $font-size-1;
                }
            }
        }

    }
}