.project__page {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0 10rem;
}



.glide__arrows.hidden {
    display: none;
}

.glide__arrows {

    .glide__arrow--left {
        position: absolute;
        left: 0;
        height: 100%;
        border: none !important;
        border-radius: 0!important;
        transition: all .6s ease;
        width: 4%;

        span {
            position: relative;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            font-size:$font-size-3;
        }
    }

    .glide__arrow--left:hover {
        background-color: $secondary-color;
    }

    .glide__arrow--right {
        position: absolute;
        right: 0;
        height: 100%;
        border: none !important;
        border-radius: 0!important;
        transition: all .6s ease;
        width: 4%;

        span {
            position: relative;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            font-size: $font-size-3;
        }
    }

    .glide__arrow--right:hover {
        background-color: $secondary-color;
    }
}

.glide__track {
    z-index: 200;
    background-color: $primary-color;

    .glide__slides {
        position: relative;

        .glide__slide {
            display: flex;
            justify-content: center;
            padding: 3rem 0;
            cursor: pointer;
            transition: background-color ease-in-out .2s;
        }

        .glide__slide:hover {
            background-color: $secondary-color;
        }

        .slide__wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $primary-color;
            padding: 1.5rem;
            width: 90%;
            max-width: 55rem;
            gap: 1.5rem;
            min-height: 30rem;

            .slide__background {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                color: transparent;
                transition: all .3s ease-in-out;      
            }


            .slide__description.hover {
                opacity: 0;
            }

            .slide__background.hover{
                color: $reversed-text-color;
                z-index: 100;

                div {
                    background-color: rgba($color: #000000, $alpha: .7);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

            
                    span {
                        display: block;
                        font-size: $font-size-5;
                        font-weight: bold;
                        line-height: 1.2;
                    }
                }

            }

            .slide__background.hover::after {
                opacity: 0;

            }

            .slide__background::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .5;
                background-color: #000;
            }

            .slide__description {
                z-index: 200;
                transition: opacity .2s ease-in-out;

                h3 {
                    width: 100%;
                    left: 0;
                    transform: translateY(-130%);
                    position: absolute;
                    text-align: center;
                    color: $reversed-text-color;
                    
                }

                h4 {
                    text-indent: 5px;
                    padding: 1.5rem 0;
                    color: $reversed-text-color;
                }

                p {
                    background-color: $primary-color;
                    padding: 1rem;
                    border-radius: 5px;
                    color: $reversed-text-color;
                }



                ;

                ol {
                    position: relative;
                    display: flex;
                    flex-direction: row-reverse;
                    gap: .5rem;
                    flex-wrap: wrap;

                    li {
                        position: relative;
                        padding: 5px;
                        min-width: 50px;
                        border-radius: 5px;
                        background-color: $supplementary-color3;
                        color: $reversed-text-color;

                    }
                }

                a {
                    padding: 5px;
                    color: $reversed-text-color;
                    text-decoration: underline;
                }

                a:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}


.project-list {
    width: 100%;
    background-color: $primary-color;
    display: grid;

    .projects {
        position: relative;
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem;

        .project {
            position: relative;
            background-color: $secondary-color;
            min-height: 20rem;
            cursor: pointer;
            border-radius: 5px;
            color: $reversed-text-color;

            .project__info {
                display: flex;
                gap: 1rem;
                height: 100%;
                width: 100%;
                position: relative;
                

                .project__background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    flex: .3;
                    height: 100%;
                    width: 100%;
                    


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    
                    }
                }

                .project__background::after {
                    content: '';
                    position: absolute;
                    border-radius: 5px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: .6);
                }


                .project__description {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    padding: 0 1rem;

                    .project__title {
                        line-height: 2;
                        font-size: $font-size-3;
                    }

                    .project__excerpt {
                        line-height: 2;
                        font-size: $font-size-2;
                    }

                }
            }

            .project__link-cover {
                position: absolute;
                display: none;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                z-index: 1;
                background-color: rgba($color: #000000, $alpha: .6);

                .project__link {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 100%;

                    .project__title {
                        font-size: $font-size-4;
                    }
                }
            }


        }

        .project:hover>.project__info {
            display: none;
        }

        .project:hover>.project__link-cover {
            display: block;

            .project__title,
            .project__excerpt {
                animation-name: fade-in;
                animation-duration: .2s;
            }
        }
    }
}

.hero_projects {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero_projects {

    h1 {
        text-align: center;
        padding: 5rem;
    }

    h2 {
        text-align: center;
        padding: 5rem;
    }
}


@media screen and (max-width: $medium-screen) {
    .project-list {
        .projects {
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;

            .project {
                min-height: 16rem;
            }
        }
    }

    .glide__arrows span {
        font-size: $font-size-1;
    }
}


@media screen and (max-width: $small-screen) {
    .project-list {
        .projects {
            gap: 1rem;
            grid-template-columns: repeat(1, 1fr);

            .project {
                min-height: 10rem;
            }
        }
    }
}