.blog-page__outer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fade-in;
    animation-duration: .5s;
}

.blog-page {
    display: block;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 3.5em 0;
    padding-top: 5.5rem;
    width: 45em;
}

.blog-page__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-end: 5rem;
    font-size: $font-size-10;
    font-weight: bolder;
    animation-name: fade-in;
    animation-duration: .7s;

    span {
        display: block;
        margin-block-end: 1.5rem;
    }

    


    select:focus {
        outline: 0;
    }
}

.blog-page__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fade-in;
    animation-duration: .9s;
}

.post__list {
    width: 40em;
}


.post {
    display: block;
    margin-block-end: 5.5rem;
    border-bottom: 1px $supplementary-color2 solid;
    padding-bottom: 1.5rem;

    .post__category {
        cursor: pointer;
    }

    .post__category:hover {
        color: rgba($color: $primary-color, $alpha: .5);
    }
}




.post__link {
    display: block;
    font-size: $font-size-6;
    font-weight: bold;
    margin-block-end: .2em;
    color: $primary-color;
    cursor: pointer;
}

.post__link:hover {
    color: $secondary-color;
}

.post__date-category {
    display: block;
    font-size: $font-size-3;
    margin-block-end: 2em;
    color: $primary-color;
    letter-spacing: 1.3px;
}

.post__excerpt {
    display: block;
    line-height: 2;
    font-size:  $font-size-3;
}




// Each post load animation
.blog-page__outer.post__open {
    display: none;

    .blog-page__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-block-end: 5rem;
        font-size: $font-size-6;
        font-weight: bolder;

    }

    .blog-page {
        margin: 1.5rem .5rem;
        width: 30%;
    }

    .post {
        margin-block-end: 3rem;
    }

    .post__list {
        width: 90%;
    }

    .post__link {
        font-size: $font-size-3;
    }

    .post__date-category {
        display: none;
    }

    .post__excerpt {
        display: none;
    }
}








@media (max-width: $medium-screen) {
    .blog-page {
        margin: 1.5rem .5rem;
        width: 100%;
    }

    .post__list {
        width: 90%;
    }

}


@media (max-width: $small-screen) {


    .blog-page__header {
        font-size: $font-size-8;
    }

    .post__link {
        font-size: $font-size-4;
    }

    .post__date-category {
        font-size: $font-size-2;
    }

    .post__excerpt {
        font-size: $font-size-2;
    }
}