.pagination {
    padding: 5rem;
    display: flex;
    justify-content: center;
    .page-numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        position: relative;
        width: 100%;
        max-width: 50rem;

        .page-number {
            position: relative;
            cursor: pointer;
            padding: .2rem;
            height: 40px;
            width: 100%;
            background-color: $background-color;
            border-radius: 2px;
            display: flex;
            align-items: center;
            color: $text-disabled-color;

            span {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                height: fit-content;
                padding: 0;
                margin: 0;
            }
        }

        .page-number:hover {
            color: $text-color;
            text-decoration: underline;
        }

        .go-left, .go-right {
            color:$text-disabled-color;
        }

        .go-left:hover, .go-right:hover{
            color: $text-color;
            text-decoration: none!important;
        }

        .current-page {
            color: $text-color;
            text-decoration: underline;
        }
    }
}