.modal.close {
    display: none;
}

.modal.open {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;   
    background-color: rgba($color: $secondary-color, $alpha: .5);
    z-index: 500;
    color: $reversed-text-color;


    .modal__inner {
        width: 40%;
        height: 15rem;
        padding: 0 1.5rem;
        border-radius: 5px;
        background-color: $supplementary-color3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        animation-name: fade-in;
        animation-duration: 1s;

        .modal__title {
            display: block;
            background-color: $primary-color;
            padding: .5rem 0;
            border-radius: 5px;
            text-align: center;
            transform: translateY(-1rem);
            font-size: $font-size-5;
            width: 100%;
        }

        .modal__message {
            display: block;
            color: $text-color;
            background-color: white;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            text-align: center;
            font-size: $font-size-3;
            
            span {
                position: relative;
                display: block;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .modal__button {
            display: block;
            background-color: $supplementary-color4;
            border: none;
            border-radius: 5px;
            color: $reversed-text-color;
            padding: .5rem .5rem;
            transform: translateY(1rem);
            font-size: $font-size-4;
            transition: opacity .2s ease-in-out;
        }

        .modal__button:hover {
            opacity: .5;
        }
    }
}