.selected-post {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .selected-post__inner {
        width: 45em;
        position: relative;
        margin-block-end: 15rem;

        hr {
            border: 1px $supplementary-color2 solid!important;
            margin-block-end: 2rem;
            animation-name: fade-in;
            animation-duration: .9s;
        }
    }

    .selected-post__title {
        font-family: "Abril Fatface", serif;
        line-height: 2;
        font-size: $font-size-6;
        animation-name: fade-in;
        animation-duration: .5s;
        letter-spacing: .1rem;
    }

    .selected-post__info {
        color: $primary-color;
        animation-name: fade-in;
        animation-duration: .7s;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        letter-spacing: .05rem;

        .selected-post__category:hover {
            color: $secondary-color;
        }
    }

    .selected-post__content {
        line-height: 1.5;
        letter-spacing: 1px;
        animation-name: fade-in;
        animation-duration: 1.1s;
    }

    .btn__back-to-post-list__outer {
        text-align: end;
        padding: 1rem 0;

        .btn__back-to-post-list {
            position: relative;
            display: flex;
            gap: 4px;
            justify-content: end;
            align-items: center;
            background-color: transparent;
            color: $primary-color;
            border: none;
            padding: 0;

            span {
                display: block;
                font-size: $font-size-3;
            }

            i {
                 display: block;
                 font-size: $font-size-3;
            }
        }

        .btn__back-to-post-list:hover {
            color: $secondary-color;

            i {
                transform: translateX(5px);
                transition: transform .2s ease-in-out;
            }
        }
    }



}


@media (max-width: $medium-screen) {
    .selected-post {

        .selected-post__inner {
            width: 100%;
        }
    }
}


@media (max-width: $small-screen) {
    .selected-post {
        .selected-post__inner {
            width: 100%;
        }
        .selected-post__title {
            font-size: $font-size-5;
        }
    
    
        .selected-post__content {
            font-size: $font-size-2;
        }
    }
}