.section__notes {
    max-width: 40em;
    margin: 4rem auto 10rem auto;

    .notes__header {
        display: block;
        margin-block-end: 4rem;
        width: 100%;
        text-align: center;
        font-size: $font-size-10;
        font-weight: bold;
    }

    .notes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10rem 0;

        .note {
            background: white;
            position: relative;
            -webkit-box-sizing: border-box;
            /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;
            /* Firefox, other Gecko */
            box-sizing: border-box;
            /* Opera/IE 8+ */
            border-radius: 20px;
            padding: 2rem 3rem;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            .note__header {
                display: flex;
                align-items: center;
                gap: 0 20px;
                margin-block-end: 4rem;

                .note-profile__image {
                    max-width: 3rem;
                    max-height: 3rem;
                    border-radius: 50%;
                }

                .note-profile {

                    .note-profile__name {
                        display: block;
                        margin-block-end: 5px;
                    }

                    .note-profile__uploaded {
                        display: block;
                    }
                }

            }

            .note__main {
                line-height: 2;
                margin-block-end: 5rem;

                figure {
                    width: 100%;
                    margin: 2rem 0rem;
                    width: 100%!important;

                    img {
                        width: 100%!important;
                    }
                }
            }

            .note__footer {
                display: flex;
                justify-content: space-between;
                margin-block-end: 3rem;

                .left {
                    display: flex;
                    gap: .5rem;
                    align-items: center;

                    i.fa-solid {
                        display: none;
                        opacity: 0;
                    }

                    i.fa-regular {
                        cursor: pointer;
                    }


                    span {
                        font-size: $font-size-1;
                    }
                }

                .right {
                    button {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        background-color: transparent;
                        color: $text-color;
                        border: none;

                        i.fa-solid {
                            display: none;
                            opacity: 0;
                        }

                        i {
                            font-size: $font-size-3;
                        }

                        span {
                            font-size: $font-size-2;
                        }
                    }
                }

            }

            .comment__section.open {
                display: block;
            }

            .comment__section {
                padding: 1rem;
                display: none;

                .comment__header {
                    font-size: $font-size-3;
                    line-height: 2;
                }

                .comment__header-hr {
                    border: 1px $supplementary-color2 solid;
                    margin-bottom: 1rem;
                }

                .your-comment {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    margin-block-end: 2rem;

                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                    }

                    .your-comment__textarea {
                        background-color: $background-color;
                        color: $text-color;
                        font-size: $font-size-2;
                        width: 80%;
                        max-width: 80%;
                        min-height: 2.5rem;
                        padding: .3rem;
                        resize: vertical;
                    }

                    .your-comment__submit {
                        font-size: $font-size-1;
                        width: 10%;
                        height: 2.5rem;
                        background-color: $primary-color;
                        color: $reversed-text-color;
                        border: none;
                        border-radius: 5px;

                    }

                    .your-comment__submit:hover {
                        background-color: $secondary-color;
                    }
                }

                .note-comments {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .note-comment {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        img {
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                        }


                    }

                    hr {
                        width: 100%;
                        border: 1px $supplementary-color2 solid;
                    }
                }
            }


            ::after {
                content: "";
                position: absolute;
                background-color: $supplementary-color2;
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(0% - 10rem - 1px);
                width: 3px;
                height: 10rem;
            }


        }


    }
}

@media screen and (max-width:$small-screen) {
    .section__notes {
        width: 100%;

        .notes__header {
            font-size: $font-size-7;
        }

        .notes {
            position: relative;
            width: 100%;

            .note {
                width: 100%;
                position: relative;
                border-radius: 20px;
                padding: 1.5rem 1.5rem;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                .note__header {
                    font-size: $font-size-2;
                    width: auto;
                }

                .note__main {
                    font-size: $font-size-2;
                }

                .note__footer {
                    font-size: $font-size-2;
                }

                .comment__section {


                    .comment__header {
                        font-size: $font-size-2;




                    }

                    .your-comment {

                        .your-comment__textarea {
                            font-size: $font-size-1;
                        }

                        .your-comment__submit {
                            font-size: $font-size-1;
                            width: fit-content;
                            word-wrap: break-word;
                        }

                    }

                    .note-comments {
                        font-size: $font-size-2;

                    }




                }


            }
        }
    }
}