.selected-post__content {
    position: relative;
    $paragraph-margin: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    word-spacing: .23rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Abril Fatface", serif;
        font-weight: 600 !important;
        letter-spacing: .1rem;
    }

    p {
        line-height: 1.7;
        margin-bottom: $paragraph-margin;
        letter-spacing: 0;
    }

    .wp-block-heading {
        line-height: .5;
        margin-bottom: $paragraph-margin;
    }

    .wp-block-image {
        margin: .5rem 1.5rem;
    }

    .wp-block-image.aligncenter {
        text-align: center;
    }

    .wp-block-image.alignright {
        float: left;
    }

    .wp-block-image.alignleft {
        float: right;
    }

    ul {
        padding: 1.5rem;

        li {
            list-style: square;
        }
    }


    blockquote {
        font-size: 1rem;
        margin: auto auto;
        font-family: Open Sans;
        font-style: italic;
        color: var(--backquote-color);
        padding: 1.2em 30px 1.2em 75px;
        border-left: 8px solid var(--backquote-border);
        line-height: 1.6;
        position: relative;
        background: var(--reversed-text-color);

        p {
            margin-bottom: .1rem;
        }

        cite {
            margin-bottom: .1rem;
        }
    }

    blockquote::before {
        font-family: Arial;
        content: "\201C";
        color:  var(--backquote-border);
        font-size: 4em;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    blockquote::after {
        content: '';
    }

    blockquote span {
        display: block;
        color: var(--backquote-span);
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
    }

    .wp-block-gallery {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 80%;

        .wp-block-image {
            position: relative;
            flex: 1 1 15%;
            width: fit-content;

            img {
                height: 100%;
                width: 100%;
                position: relative;
                object-fit: cover;
            }
        }
    }
}


@media (max-width: $small-screen) {
    .selected-post__content {
        .wp-block-image {
            margin: 0 .5rem;
        }

        .wp-block-image.aligncenter {
            text-align: center;
        }

        .wp-block-image.alignright {
            float:none;
            text-align: center;
        }

        .wp-block-image.alignleft {
            float: none;
            text-align: center;
        }

    }
}