@keyframes fade-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
