body[data-theme="light"] {
    --primary-color: #3d52a0;
    --primary-color-rgb: 61,82,160;
    --secondary-color: #7091e6;
    --secondary-color-rgb: 112,145,230;
    --supplementary-color1: #8697c4;
    --supplementary-color1-rgb: 134,151,196;
    --supplementary-color2: #adbbda;
    --supplementary-color2-rgb: 173,187,218;
    --supplementary-color3: #ff4c4c;
    --supplementary-color-rgb: 255,76,76;
    --supplementary-color4: #117554;
    --supplementary-color4-rgb: 17,117,84; 
    --background-color: #ffffff;
    --background-color-rgb: 255, 255, 255;
    --text-color: #0C0C0C;
    --text-color-rgb: 12,12,12;
    --text-disabled-color: #888888;
    --text-disabled-color-rgb: 136,136,136;
    --reversed-text-color: #ede8f5;
    --reversed-text-color-rgb: 237,232,245;
    --progress-bar-basic-color: #40534C;
    --progress-bar-basic-color-rgb: 64,83,76;
    --backquote-color: #555555;
    --backquote-color-rgb: 85,85,85;
    --backquote-border: #78C0A8;
    --backquote-border-rgb: 120,192,168;
    --backquote-span: #333333;
    --backquote-span: 51,51,51;
}


body[data-theme="dark"] {
    --primary-color: #c2ad5f;
    --primary-color-rgb: 194,173,95;
    --secondary-color: #8f6e19;
    --secondary-color-rgb: 143,110,25;
    --supplementary-color1: #79683b;
    --supplementary-color1-rgb: 121,104,59;
    --supplementary-color2: #524425;
    --supplementary-color2-rgb: 82,68,37;
    --supplementary-color3: #00b3b3;
    --supplementary-color3-rgb: 0,179,179;
    --supplementary-color4: #ee8aab;
    --supplementary-color4-rgb: 238,138,171;
    --background-color: #000000;
    --background-color-rgb: 0, 0, 0;
    --text-color: #f3f3f3;
    --text-color-rgb: 243,243,243;
    --text-disabled-color: #777777;
    --text-disabled-color-rgb: 119,119,119;
    --reversed-text-color: #000000;
    --reversed-text-color-rgb: 0, 0, 0;
    --progress-bar-basic-color: #bfacb3;
    --progress-bar-basic-color-rgb: 191,172,179;
    --backquote-color: #aaaaaa;
    --backquote-color-rgb: 170,170,170;
    --backquote-border: #873f57;
    --backquote-border-rgb: 135,63,87;
    --backquote-span: #cccccc;
    --backquote-span-rgb: 204,204,204;
}

$font-family-display:  "Merriweather", serif;
$standard-border-radius: 5px;

$font-size-10: 3.5rem;
$font-size-9: 3rem;
$font-size-8: 2.5rem;
$font-size-7: 2.1rem;
$font-size-6: 1.8rem;
$font-size-5: 1.5rem;
$font-size-4: 1.2rem;
$font-size-3: 1rem;
$font-size-2: .65rem;
$font-size-1: .5rem;