.about__skill-summary {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
    z-index: 500;

    h1 {
        padding: 1rem 0;
        width: fit-content;
        text-align: center;
        font-size: $font-size-5;
        z-index: 100;
    }

    .skills {
        position: relative;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        background-color: var(--background-color);
        color: var(--text-color);
        max-width: 55rem;
        width: 90%;
        border-radius: 5px;
        margin: 0;
        z-index: 100;

        .skill-blocks {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            box-sizing: border-box;
            padding: 0rem 0 1rem;

            .skill__block {
                border: none;
                color: var(--reversed-text-color);
                padding: .2rem .5rem;
                border-radius: $standard-border-radius;
                background-color: var(--primary-color);
                width: fit-content;        
            }

            .skill__block:hover {
                background-color: var(--secondary-color);
            }
        }



       
        .skill-details {
            position: relative;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            padding: 1rem .5rem;
            border-radius: 5px;
            box-sizing: border-box;
        
            .skill-details__skillname {
                font-size: $font-size-4;
                line-height: 1.5;
                text-indent: 1rem;
            }
        
            hr {
                border: 1px solid var(--secondary-color);
                border-radius: 5px;
            }
        
            .skill-details__description-box img {
                width: 25%;
                float: right;
                border-radius: 5px;
                margin: 0 0 .6rem .6rem;
            }
        
            ul {
                padding: .5rem;
                list-style:inside;
        
                li {
                    line-height: 1.5;
                }
            }
        
            .skill-details__description-box {
                padding: 1rem;
                font-weight: lighter;
        
                strong {
                    font-weight: bolder;
                }
        
                code {
                    font-weight: bolder;
                    background-color: var(--secondary-color);
                    padding: .1rem;
                    border-radius: 5px;
                }
            }
        
        }

        .to-top {
            position: absolute;
            bottom: -1.8rem;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            background-color: var(--primary-color);
            padding: .5rem 1rem;
            color: var(--reversed-text-color);
            font-weight: bolder;
            font-size: $font-size-2; 
            border-radius: $standard-border-radius;
            
            i {
                display: block;
                font-size: 1rem; 
                transform: rotate(-90deg);
                margin-bottom: .1rem;
            }

            span {
                display: block;
            }
        }

        .to-top:hover {
            background-color: var(--secondary-color);
            cursor: pointer;
        }



    }


    .glide {
        padding-top: 2rem;
        padding-bottom: 1rem;
        box-sizing: border-box;

        .glide__slide.glide__slide--active {
            transform: scale(.95);
        }


        .glide__slide--active + .glide__slide {
            transform: scale(.85) rotateY(30deg) rotateX(7deg);
        }

        .glide__slide:has(+.glide__slide.glide__slide--active) {
            transform: scale(.85) rotateY(-30deg) rotateX(7deg);
        }

        .glide__slide:has(+.glide__slide + .glide__slide.glide__slide--active) {
            transform: scale(.7) rotateY(-30deg) rotateX(7deg);
        }



        .glide__slide {
            height: 23rem;
            transform: scale(.7) rotateY(30deg) rotateX(7deg);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: transform .3s ease-out;
            box-sizing: border-box;
            padding: .2rem;
            
            hr {
                border: 1.5px solid var(--secondary-color);
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            img {
                width: 100%;
            }
        }
    }
}




@keyframes grow-skill-gauge-up {
    0% {
        width: 0;
    }
}


@media (max-width:$small-screen) {
    .about__skill-summary .skills {
        font-size: $font-size-1;
    }

    .about__skill-summary {
    
        >h1 {
            font-size: $font-size-3;
            padding: .5rem;
        }

        >p {
            font-size: $font-size-2;
        }
    
        .skills {

    
            > ul {
                margin: 1rem 0 1.3rem 0;
                height: 16rem;
            }
    
            .skill {
                font-size: $font-size-2;
                padding: 1rem;


            }

    
            .skill-details {
                padding: .3rem .3rem;

            
                .skill-details__skillname {
                    font-size: $font-size-3;
                    text-indent: .5rem;
                }
            
            
                .skill-details__description-box {
                    padding: .5rem;
        
                }

                .to-top {
                    font-size: .4rem; 
                    padding: .3rem .5rem;
                    bottom: -1.2rem;

                    i {
                        font-size: .5rem;
                    }
                }
            
            }
    
        }
    }
}