.about__section>.about__history {
    flex-direction: column;
    align-items: center;

    h2 {
        padding: 4rem 0 4rem;
        line-height: 3;
        font-size: $font-size-6;
    }


    .records {
        background-color: $primary-color;
        box-shadow: 14px 14px 60px -10px rgba(0, 0, 0, 0.3019607843);
        border-radius: 5px;
        display: flex;
        position: relative;



        .records__list {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            align-items: center;
            padding: 2rem 0;

            .record:nth-child(odd) {
                position: relative;

                .record__month-year {
                    display: flex;
                    flex-direction: row-reverse;
                    position: relative;
                    left: 120%;
                    text-align: start;
                }

                .description {
                    right: 120%;
                    border-bottom-right-radius: 30%;
                    border-top-left-radius: 20%;
                }

                .description::after {
                    content: '';
                    position: absolute;
                    background: $supplementary-color3;
                    width: 6%;
                    height: 3rem;
                    left: 98%;
                    top: 0;
                    clip-path: polygon(100% 0, 0 0, 0 25%);
                }
            }

            .record:nth-child(even) {
                position: relative;

                .record__month-year {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    right: 120%;
                    text-align: end;
                }

                .description {
                    left: 120%;
                    border-bottom-left-radius: 30%;
                    border-top-right-radius: 20%;
                }

                .description::after {
                    content: '';
                    position: absolute;
                    background: $supplementary-color3;
                    width: 6%;
                    height: 3rem;
                    right: 98%;
                    top: 0;
                    clip-path: polygon(100% 0, 0 0, 100% 25%);

                }
            }

            .record {
                position: relative;
                padding: 0 .1rem;
                width: 80%;
                .record__month-year {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: fit-content;
                    gap: 5px;
                    font-weight: bolder;
                    padding: 0;
                    width: fit-content;

                    i {
                        display: block;
                    }

                    span {
                        display: block;
                    }
                }

                .description {
                    position: absolute;
                    width: 20rem;
                    max-width: 15rem;
                    top: 0;
                    background-color: $supplementary-color3;
                    text-align: center;
                    padding: .5rem;
                    color: $reversed-text-color;



                    span {
                        font-size: $font-size-3;
                        line-height: 2;
                        font-weight: bold;
                    }

                    p {
                        font-size: $font-size-2;
                        line-height: 1.5;
                        font-weight: bold;
                    }
                }
            }

            .record::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background: radial-gradient(circle, rgba(0, 0, 0, 1) 1%, $background-color) 30%, rgba(0, 0, 0, 1) 100%;
                z-index: 100;
            }
        }

        .records__list::after {
            content: '';
            position: absolute;
            width: .5rem;
            height: calc(100% - 6rem);
            top: 3rem;
            background-color: $background-color;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            animation: grow-up;
            animation-duration: 5s;
        }

    }

}


.about__history>.work-experience {
    max-width: 55rem;

    .experiences {

        .experience {
            padding: 2rem;
            background-color: $background-color;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
            margin-block-end: 3rem;

            .company-logo {
                padding: .5rem;
                border-radius: 5px;
                text-align: center;
                background-color: $background-color;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                margin-block-end: 2rem;
            }

            .experience-description {
                h4 {
                    margin-block-end: 1rem;
                }

                .experience-description-details>.detail {
                    list-style-type: square;
                    margin-block-end: 1rem;
                    list-style-position: inside;

                    p {
                        display: inline;

                    }
                }
            }
        }
    }
}



@keyframes grow-up {
    0% {
        height: 0;
    }

    100% {
        height: calc(100% - 3rem);
    }
}


@media (max-width: $medium-screen) {

    .about__history>.work-experience {
        font-size: $font-size-3;
    }

    .about__section>.about__history {
        width: 75%;



        .records {
            .records__list {


                .record:nth-child(odd) {
                    position: relative;
    
                    .record__month-year {
                        left: 110%;
                    }
    
                    .description {
                        right: 110%;
                    }
    
                }
    
                .record:nth-child(even) {
                    position: relative;
    
                    .record__month-year {
                        right: 110%;
                    }
    
                    .description {
                        left: 110%;
                    }
    
                }

                .record {
                    padding: 0 .5rem;
                    width: 100%;

                    .record__month-year {
                        font-size: $font-size-3;
                        max-width: 7rem;

                        i {
                            font-size: $font-size-2;
                        }
                    }

                    .description {
                        padding: .5rem;
                        width: 13rem;


                        span {
                            font-size: $font-size-2;
                            line-height: 2;
                        }

                        p {
                            font-size: $font-size-1;
                            line-height: 1.5;
                        }
                    }


                }
            }
        }
    }

}

@media (max-width: $small-screen) {
    .about__section>.about__history>h2 {
        font-size: $font-size-6;
    }

    .about__history>.work-experience {
        font-size: $font-size-2;
    }

    .about__section>.about__history>.records>.records__list>.record>.description {
        width: 10rem;

        span {
            font-size: $font-size-1;
            line-height: 2;
        }

        p {
            font-size: $font-size-1;
            line-height: 1.5;
        }
    }


    .about__section>.about__history>.records>.records__list>.record {
        padding: 0 .2rem;


        .record__month-year {
            font-size: $font-size-1;
            width: 5.4rem;
        }

        .description {
            padding: .3rem;
            width: 5.4rem;


            span {
                font-size: .6rem;
                line-height: 2;
            }

            p {
                font-size: .5rem;
                line-height: 1;
            }
        }


        



    }

    .about__section>.about__history>.records>.records__list {
        .record:nth-child(odd) {
            position: relative;
    
            .record__month-year {
                left: 105%;
            }
    
            .description {
                right: 105%;
            }
    
        }
    
        .record:nth-child(even) {
            position: relative;
    
            .record__month-year {
                right: 105%;
            }
    
            .description {
                left: 105%;
            }
    
        }

    }

    
}