@import "./about.history.scss";
@import "./about.skillsummary.scss";

canvas {
    position: fixed;
    width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    max-width: $big-screen;
    z-index: 210;
}

canvas::after {
    content: '';
}

canvas.loading__on {
    display: block;
}

canvas.loading__off {
    display: none;
}






.loading-cover {
    position: fixed;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    z-index: -200;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.loading-cover.visible {
    display: block;
    opacity: .7;
    z-index: 200;
}




.about__section.screen-max {
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    width: 100%;
    background-color: var(--background-color);
    min-height: 100vh;
    top: 0;
    z-index: 102;

}



.about__section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 5rem 0;
    transition: all 1s ease;

    section.local-page {
        display: flex;
    }
    

    .button-padding {
        padding: 1rem;
    }

    .about__section-fullscreen-btn {
        position: fixed;
        right: 4%;
        bottom: 4%;
        color: rgba(255, 255, 255, .5);
        background-color: rgba(0, 0, 0, 0.4);
        border: none;
        padding: .5rem;
        border-radius: 5px;
        transition: all 2s ease;
        z-index: 200;
        
    
        i {
            font-size: $font-size-7;
        }

        span {
            display: block;
        }
    }

    .about__section-fullscreen-btn:hover {
        background-color: rgba(0, 0, 0, 0.6);
        color: rgba(255, 255, 255, .7);
    }


    .about__intro {
        flex-direction: column;
        align-items: center;


        h1 {
            font-size: $font-size-6;
            line-height: 2;
            padding: 0 0 3rem;
        }


        .card {
            width: 60%;
            background-color: var(--background-color);
            padding: 3rem;
            border-radius: 5px;
            box-shadow: 14px 14px 60px -10px rgba(0, 0, 0, 0.3019607843);

            .card__intro {

                .card__sentence {
                    display: inline;
                    line-height: 1.8;
                }

                .card__profile {
                    position: relative;
                    display: inline;
                    float: right;
                    width: 10%;

                    img {
                        position: relative;
                        width: 100%;
                        border-radius: 5px;
                        box-shadow: 7px 7px 60px -10px rgba(0, 0, 0, 0.7);
                        object-fit: cover;
                        border: 1px solid var(--primary-color);
                        border-radius: 5px;
                    }
                }

            }
        }

        .about__back-to-last {
            padding: 7rem;
        }
    }

    .prev-button {
        a {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            background: none;
            transition: var(--background-color) .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            height: 5rem;
            padding: 1rem;
            border-radius: 5px;
            color: var(--text-color);
        }

        a>i {
            position: relative;
            display: block;
            transform: rotate(90deg);
            width: fit-content;
            transition: transform .2s ease;
            color: var(--secondary-color);
            font-weight: bold;
        }

        a:hover {
            background-color: var(--text-disabled-color);
            color: var(--reversed-text-color) ;
        }

        a:hover>i {
            transform: rotate(90deg) translateX(-10px);
            color: var(--reversed-text-color);
        }

        a>span {
            display: block;
            font-weight: bold;
        }
    }


    .next-button {

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            background: none;
            transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            height: 5rem;
            padding: 1rem;
            border-radius: 5px;
            color: var(--text-color);
        }

        a>i {
            display: block;
            transform: rotate(90deg);
            width: fit-content;
            transition: transform .2s ease;
            color: var(--secondary-color);
        }

        a:hover {
            background-color: var(--text-disabled-color);
            color: var(--reversed-text-color);
        }

        a:hover>i {
            transform: rotate(90deg) translateX(10px);
            color: var( --reversed-text-color);
        }

        a>span {
            display: block;
            line-height: 2;
            font-weight: bold;
        }
    }
}


@media (max-width: $medium-screen) {

    canvas {
        position: fixed;
        width: 80%;
        border-radius: 3px;
        max-width: $big-screen;
    }

    .about__section {
        width: 95%;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 1.5rem 0 5rem 0;

        .about__intro {
            h1 {
                font-size: $font-size-5;
            }

            .card {
                box-sizing: border-box;
                position: relative;
                width: 100%;
                padding: 2rem 1rem;
            }

            .card>.card__intro>.card__sentence {
                font-size: $font-size-2;
            }
        }
    }
}