.about__skill-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 50rem;

    h1 {
        padding: 1rem 0;
        width: fit-content;
        text-align: center;
        font-size: $font-size-5;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        font-size: $font-size-3;
        font-weight: bold;
        background-color: $background-color;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        color: $text-color;
        padding: 1rem;
        max-width: 55rem;
        width: 90%;
        border-radius: 5px;
        margin: 3rem 0 5rem 0;

        .skill {
            position: relative;
            display: flex;
            padding: 2em;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            transition: all .3s ease-in-out;

            .skill-name {
                width: 20%;
                word-break: break-all;
            }


            .skill-level {
                width: 60%;
                display: flex;
                align-items: center;
                position: relative;

                .skill-level__gauge {
                    background-color: $supplementary-color3;
                    border-radius: 2px;
                    height: 4px;
                    z-index: 10;
                    animation-name: grow-skill-gauge-up;
                    animation-duration: 4s;
                }

            }

            .skill-level::after {
                content: '';
                position: absolute;
                background-color: $progress-bar-basic-color;
                border-radius: 2px;
                width: 100%;
                height: 4px;
            }

            .skill-percent {
                width: 20%;
                text-align: end;
            }
        }

        .skill:hover {
            background-color: $secondary-color;
            cursor: pointer;
        }

    }
}


.skill-details {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 1rem .5rem;
    border-radius: 5px;

    .skill-details__skillname {
        font-size: $font-size-4;
        line-height: 1.5;
        text-indent: 1rem;
    }

    hr {
        border: 1px solid $secondary-color;
        border-radius: 5px;
    }

    .skill-details__description-box img {
        width: 25%;
        float: right;
        border-radius: 5px;
        margin: 0 0 .6rem .6rem;
    }

    ul {
        padding: .5rem;
        list-style:inside;

        li {
            line-height: 1.5;
        }
    }

    .skill-details__description-box {
        padding: 1rem;
        font-weight: lighter;

        strong {
            font-weight: bolder;
        }

        code {
            font-weight: bolder;
            background-color: $secondary-color;
            padding: .1rem;
            border-radius: 5px;
        }
    }

}

@keyframes grow-skill-gauge-up {
    0% {
        width: 0;
    }
}


@media (max-width:$small-screen) {
    .about__skill-summary .skills {
        font-size: $font-size-1;
    }
}